* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 1rem;
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

.inputField {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

label {
  font-size: 1.2rem;
  margin: 0 10px;
}

input {
  border-radius: 1rem;
}

.todo {
  background-color: black;
  color: white;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.completed {
  text-decoration: line-through;
}